:root {
  --bg: #364349;
  --white: #fffffe;
  --border: #eff0f6;
  --card__background: #1f3540;
  --grey: #a8bec9;
  --yellow: #ffd803;
  --blue-dark: #0e172c;
  --purple-ligth: #b69eff;
  --purple-dark: #5c5cff;
  --gren-winner: #5a9b1e;
  --body1-regular: 400 1.125rem/1.75rem Inter;
  --body1-bold: 700 1.125rem/normal Inter;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/inter.ttf') format('woff2'),
    url('./assets/fonts/inter.woff') format('woff'),
    url('./assets/fonts/inter.woff2') format('truetype');
  font-display: swap;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
}

.hero {
  min-width: 320px;
  padding: 0 20px;
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--white);
}


.title {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  text-decoration:  var(--purple-ligth) wavy underline;
  -webkit-text-underline-position: under;
  text-underline-position: under;
}

.player {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration:  var(--yellow) wavy underline;
  -webkit-text-underline-position: under;
  text-underline-position: under;
}

.tic-tac-toe__board {
  width: 100%;
  min-width: 320px;
  min-height: 320px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.tic-tac-toe__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 10px 3px var(--blue-dark);
  background-color: var(--card__background);
  cursor: pointer;
}


.tic-tac-toe__image {
  width: 70%;
  object-fit: cover;
  animation: showUp 0.5s ease-in-out;
}

@keyframes showUp  {
  0% {
    transform: translateX(-50px) rotate(360deg);
    opacity: 0.20;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.cell__winner {
  background-color: var(--gren-winner);
}

.cell__winner > img {
  animation: jump 1s ease-in-out infinite alternate;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
