:root {
  --bg: #364349;
  --white: #fffffe;
  --border: #eff0f6;
  --card__background: #1f3540;
  --grey: #a8bec9;
  --yellow: #ffd803;
  --blue-dark: #0e172c;
  --purple-ligth: #b69eff;
  --purple-dark: #5c5cff;
  --gren-winner: #5a9b1e;
  --body1-regular: 400 1.125rem/1.75rem Inter;
  --body1-bold: 700 1.125rem/normal Inter;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/inter.ttf') format('woff2'),
    url('./assets/fonts/inter.woff') format('woff'),
    url('./assets/fonts/inter.woff2') format('truetype');
  font-display: swap;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}

.hero {
  min-width: 280px;
  min-height: 100vh;
  padding: 0 20px;
  padding-top: 20px;
  position: relative;
  background-color: var(--bg);
  color: var(--white);
}


.title {
  margin:0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  text-decoration:  var(--purple-ligth) wavy underline;
  -webkit-text-underline-position: under;
  text-underline-position: under;
  text-shadow: 4px 4px 30px rgba(0, 0, 0, 0.75);
}

.player {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration:  var(--yellow) wavy underline;
  -webkit-text-underline-position: under;
  text-underline-position: under;
}

.tic-tac-toe__board {
  width: 100%;
  margin: 0 auto;
  max-width: 350px;
  min-width: 280px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(80px, 1fr));
  grid-template-rows: repeat(3, minmax(90px, 1fr));
}

.tic-tac-toe__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 10px 3px var(--blue-dark);
  background-color: var(--card__background);
  cursor: pointer;
}


.tic-tac-toe__image {
  width: 60%;
  object-fit: cover;
  animation: showUp 0.5s ease-in-out;
}

@keyframes showUp  {
  0% {
    transform: translateX(-50px) rotate(360deg);
    opacity: 0.20;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.cell__winner {
  background-color: var(--gren-winner);
}

.cell__winner > img {
  animation: jump 1s ease-in-out infinite alternate;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


/* Styles fo the score */
.tic-tac-toe__score {
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: var(--card__background);
}

.tic-tac-toe__score-board {
  text-align: center;
}

.tic-tac-toe__rounds {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 700;
}

.tic-tac-toe__actions {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}


.tic-tac-toe__scorePlayer {
  padding: 8px;
  min-width: 90px;
  border-radius: 10px;
  font-size: 1rem;
  color: var(--blue-dark);
  background-color: var(--purple-ligth);
}

.tic-toc-toe__restart-wrapper {
  margin: 0;
  padding: 8px;
  background-color: var(--grey);
  border-radius: 15px;
  cursor: pointer;
}

.tic-toc-toe__restart-image {
  width: 50%;
  object-fit: cover;
}

/* dialog */

.dialog {
  width: 40%;
  height: 25vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  border-radius: 15px;
}

.dialog::backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog__message {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
}

.dialog__btn {
  padding: 10px;
  border: 0;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: var(--grey);
  color: var(--blue-dark);
  cursor: pointer;
  transition:  all ease-in 150ms;
}

.dialog__btn:hover {
  background-color: var(--blue-dark);
  color: var(--grey);
}



/* media query */
@media screen and (min-width: 600px) {
  #app {
    height: 75vh;
  }

  .tic-tac-toe__score {
    height: 20vh;
  }

}
